.ui-state-error {
  background-color: #fcd5d4;
  border-color: #f69593;
  color: #813331;
}
.ui-state-highlight {
  background-color: #c6eafa;
  border-color: #70caf3;
  color: #155e7f;
}
.carousel {
  position: relative;
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.carousel .carousel-clip {
  overflow: hidden;
  height: 100%;
}
.carousel .carousel-wrap {
  font-size: 0;
  min-width: 100%;
}
.carousel .carousel-wrap .carousel-item {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
}
.carousel:hover .carousel-btn {
  display: block;
}
.carousel .carousel-btn {
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 15;
  margin: auto;
  width: 3em;
  display: none;
  font-size: 16px;
}
.carousel .carousel-btn::before {
  font-family: flexkit-icons;
  font-size: 3em;
  line-height: 1;
  height: 1em;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.carousel .carousel-btn.prev {
  left: 0;
}
.carousel .carousel-btn.prev::before {
  content: "\e0a9";
}
.carousel .carousel-btn.next {
  right: 0;
}
.carousel .carousel-btn.next::before {
  content: "\e0a7";
}
.carousel .carousel-btn:hover {
  background: rgba(255, 255, 255, 0.9);
}
.smoke-base .smokebg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.5);
}
.smoke-base.smoke-visible .dialog {
  background: inherit;
  border: inherit;
  box-shadow: 0 0 0 transparent;
}
.smoke-base .dialog {
  position: fixed;
  z-index: 1001;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
}
.smoke-base .dialog.primary .dialog-inner {
  color: #520406;
  border-color: #bb5b5d;
  background-color: #e4bebf;
}
.smoke-base .dialog.success .dialog-inner {
  color: #2a6a2c;
  border-color: #8ada8c;
  background-color: #d0f0d1;
}
.smoke-base .dialog.warning .dialog-inner {
  color: #886730;
  border-color: #ffd691;
  background-color: #ffefd3;
}
.smoke-base .dialog.error .dialog-inner {
  color: #813331;
  border-color: #f69593;
  background-color: #fcd5d4;
}
.smoke-base .dialog.info .dialog-inner {
  color: #155e7f;
  border-color: #70caf3;
  background-color: #c6eafa;
}
.smoke-base .dialog li {
  margin: 0;
  list-style: none;
}
.smoke-base .dialog li + li {
  margin-top: 0.5em;
}
.smoke-base .dialog-inner {
  overflow: auto;
  margin-top: 15%;
  max-width: 1215px;
  max-height: 70%;
  font-size: 1.25em;
  padding: 1em 2em;
  border: 1px solid #888888;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.25);
}
.smoke-base .dialog-buttons {
  margin-top: 1em;
}
.smoke-base .dialog-buttons button {
  font-size: 12px;
  color: #FFF;
  border-color: #189b1a;
  background-color: #4fc752;
}
.smoke-base .dialog-buttons button:hover,
.smoke-base .dialog-buttons button:active,
.smoke-base .dialog-buttons button.active {
  color: #FFF;
  border-color: #126f13;
  background-color: #37ac3a;
}
.smoke-base .dialog-buttons button.cancel {
  margin-right: .5em;
  color: #FFF;
  border-color: #e62321;
  background-color: #f25f5c;
}
.smoke-base .dialog-buttons button.cancel:hover,
.smoke-base .dialog-buttons button.cancel:active,
.smoke-base .dialog-buttons button.cancel.active {
  color: #FFF;
  border-color: #be1816;
  background-color: #ee312d;
}
.ui-tabs {
  position: relative;
}
.ui-tabs::after {
  content: "";
  display: table;
  clear: both;
}
.ui-tabs .ui-tabs-nav {
  position: relative;
  z-index: 1;
  background: transparent;
  margin: 0;
  padding: 0;
}
.ui-tabs .ui-tabs-nav::after {
  content: "";
  display: table;
  clear: both;
}
.ui-tabs .ui-tabs-nav li {
  position: relative;
  float: left;
  margin: 2px -1px 0 0;
  white-space: nowrap;
  list-style: none;
  color: #888888;
  border-bottom-width: 0;
}
.ui-tabs .ui-tabs-nav li a {
  color: inherit;
  text-decoration: none;
}
.ui-tabs .ui-tabs-nav li ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  margin: 0;
  padding: 0;
  border: 1px solid #888888;
  box-shadow: 0px 1px 3px #bbbbbb;
}
.ui-tabs .ui-tabs-nav li ul li {
  margin: -1px !important;
  float: none;
  border-width: 1px;
  z-index: 0;
}
.ui-tabs .ui-tabs-nav li ul li.ui-tabs-active,
.ui-tabs .ui-tabs-nav li ul li:hover {
  z-index: 1;
  border-width: 1px 3px 1px 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active,
.ui-tabs .ui-tabs-nav li:hover {
  margin-top: 0;
  border-top-width: 3px;
}
.ui-tabs .ui-tabs-nav li:hover {
  cursor: pointer;
  background: #fafafa;
  border-color: #888888;
  color: #888888;
}
.ui-tabs .ui-tabs-nav li:hover ul {
  display: block;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  font-weight: bold;
  background: #FFF;
  position: relative;
  padding-bottom: 1px;
  margin-bottom: -1px;
  border-color: #99080c;
  color: #99080c;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
  cursor: default;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}
.ui-tabs .ui-tabs-panel {
  position: relative;
  z-index: 0;
  overflow: hidden;
  background: #fff;
  padding: 8px 12px;
  transition: all 0.3s;
}
.ui-tabs.vertical > .ui-tabs-nav {
  float: left;
  width: 25%;
}
.ui-tabs.vertical > .ui-tabs-nav li {
  float: none;
  display: block;
  margin: 0 -1px -1px 2px;
  border-width: 1px;
}
.ui-tabs.vertical > .ui-tabs-nav li.ui-tabs-active,
.ui-tabs.vertical > .ui-tabs-nav li:hover {
  margin-left: 0;
  border-left-width: 3px;
}
.ui-tabs.vertical > .ui-tabs-nav li.ui-tabs-active {
  border-right-color: #fff;
}
.ui-tabs.vertical > .ui-tabs-panel {
  clear: none;
}
.ui-tabs.blocks {
  border: 3px solid #99080c;
}
.ui-tabs.blocks > .ui-tabs-nav {
  border-bottom: 3px solid #99080c;
}
.ui-tabs.blocks > .ui-tabs-nav li {
  margin: 0;
  padding: 0;
  border: none;
  color: #99080c;
}
.ui-tabs.blocks > .ui-tabs-nav li + li {
  border-left: 3px solid #99080c;
}
.ui-tabs.blocks > .ui-tabs-nav li:hover {
  background: #bb0a0f;
  color: #fff;
}
.ui-tabs.blocks > .ui-tabs-nav .ui-tabs-active {
  background: #99080c;
  color: #fff;
}
.ui-tabs.blocks > .ui-tabs-panel {
  border: none;
}
.ui-tabs.blocks.vertical > .ui-tabs-nav {
  margin-right: -3px;
  border: none;
  border-right: inherit;
}
.ui-tabs.blocks.vertical > .ui-tabs-nav li {
  border: none;
}
.ui-tabs.blocks.vertical > .ui-tabs-nav li + li {
  border-top: 3px solid #99080c;
}
.ui-tabs.blocks.vertical > .ui-tabs-panel {
  border-left: 3px solid #99080c;
}
.tooltip {
  cursor: help;
}
a.tooltip {
  cursor: pointer;
}
.chosen-select {
  width: 100%;
}
.chosen-select-deselect {
  width: 100%;
}
.dataTables_wrapper {
  width: 100%;
}
.dataTables_wrapper .dataTables_filter {
  padding: 5px;
  text-align: right;
  font-size: 0.85em;
}
.dataTables_wrapper .dataTables_filter label input {
  margin-left: 5px;
  width: 250px;
}
.dataTables_wrapper .sorting,
.dataTables_wrapper .sorting_asc,
.dataTables_wrapper .sorting_desc {
  cursor: pointer;
  position: relative;
  padding-right: 16px;
  border-left: 1px solid #dddddd;
}
.dataTables_wrapper .sorting::after,
.dataTables_wrapper .sorting_asc::after,
.dataTables_wrapper .sorting_desc::after {
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e0b6";
  font-size: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.dataTables_wrapper .sorting_asc::after {
  content: "\e0b5";
}
.dataTables_wrapper .sorting_desc::after {
  content: "\e0b2";
}
.dataTables_wrapper .dataTables_empty {
  text-align: center;
}
.dataTables_paginate {
  margin-top: 1em;
  float: right;
  font-size: 12px;
}
.dataTables_paginate .paginate_button {
  background: #eeeeee;
  margin: 0 .25em;
  padding: .25em .75em;
  min-width: 2em;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #222222;
}
.dataTables_paginate .paginate_button:hover {
  background: #e7e7e7;
}
.dataTables_paginate .paginate_button.disabled,
.dataTables_paginate .paginate_button.current {
  cursor: default;
  color: #e2e2e2;
  background: #f6f6f6;
}
.dataTables_paginate .paginate_button.current {
  font-weight: bold;
  background: #d88486;
  color: #fff;
}
.dataTables_paginate .paginate_button.first::before,
.dataTables_paginate .paginate_button.last::before,
.dataTables_paginate .paginate_button.previous::before,
.dataTables_paginate .paginate_button.next::before,
.dataTables_paginate .paginate_button.first::after,
.dataTables_paginate .paginate_button.last::after,
.dataTables_paginate .paginate_button.previous::after,
.dataTables_paginate .paginate_button.next::after {
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dataTables_paginate .paginate_button.first,
.dataTables_paginate .paginate_button.last {
  font-weight: bold;
}
.dataTables_paginate .paginate_button.first::before,
.dataTables_paginate .paginate_button.last::before,
.dataTables_paginate .paginate_button.first::after,
.dataTables_paginate .paginate_button.last::after {
  font-size: 15px;
  font-weight: bold;
}
.dataTables_paginate .paginate_button.first::before,
.dataTables_paginate .paginate_button.previous::before {
  content: "\e0b1";
}
.dataTables_paginate .paginate_button.last::after,
.dataTables_paginate .paginate_button.next::after {
  content: "\e0af";
}
.parallax {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  padding: 70px 0 50px;
}
.parallax.take-from-widget,
.parallax .take-from-widget {
  position: relative;
}
.parallax.take-from-widget > img,
.parallax .take-from-widget > img,
.parallax.take-from-widget > ._lbox,
.parallax .take-from-widget > ._lbox {
  display: none;
}
.parallax.take-from-widget [data-url*="imageonly"],
.parallax .take-from-widget [data-url*="imageonly"] {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 999;
}
.parallax.height-auto {
  height: auto;
}
.responsive-ratio {
  position: relative;
  overflow: hidden;
  padding: 0;
  display: block;
  height: auto !important;
}
.responsive-ratio::before {
  display: block;
  content: " ";
}
._16x9.responsive-ratio::before {
  padding-bottom: 56.25%;
}
._9x16.responsive-ratio::before {
  padding-bottom: 177.77777778%;
}
._4x3.responsive-ratio::before {
  padding-bottom: 75%;
}
._3x4.responsive-ratio::before {
  padding-bottom: 133.33333333%;
}
._1x1.responsive-ratio::before {
  padding-bottom: 100%;
}
.responsive-ratio iframe,
.responsive-ratio object,
.responsive-ratio embed,
.responsive-ratio video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.responsive-ratio > img,
.responsive-ratio ._lbox img,
.responsive-ratio .gall img {
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  min-height: 100% !important;
  min-width: 100% !important;
  width: auto;
  height: auto;
}
._9x16.responsive-ratio > img,
._3x4.responsive-ratio > img,
._1x1.responsive-ratio > img {
  max-width: none;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.responsive-ratio.bottom > img,
.responsive-ratio.bottom ._lbox img,
.responsive-ratio.bottom .gall img {
  min-height: 0 !important;
  top: auto;
}
.responsive-ratio.top > img,
.responsive-ratio.top ._lbox img,
.responsive-ratio.top .gall img {
  min-height: 0 !important;
  bottom: auto;
}
