body {
  background: #FFFFFF;
  overflow-x: hidden;
}
#page {
  z-index: 9;
}
.header-fixed {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
}
.header-fixed header {
  color: #555555;
  background: transparent;
  z-index: 10;
}
.header-fixed header .logo {
  text-decoration: none;
  margin: 30px 0;
}
.header-fixed header .logo a {
  display: inline-block;
}
.header-fixed header .phone {
  text-align: right;
  font-size: 1.2em;
  color: #6E6D70;
  margin-top: 40px;
}
.header-fixed header .phone a {
  text-decoration: none;
  color: #6E6D70;
}
.header-fixed.scroll-header {
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #C39B5C;
}
.header-fixed.scroll-header header .logo {
  margin: 20px 0;
  transition: all 0.3s;
}
.header-fixed.scroll-header header .logo img {
  width: 50%;
}
.header-fixed.scroll-header header .phone {
  margin-top: 15px;
}
.header-fixed.scroll-header header .main_menu {
  margin-top: 0px;
  transition: all 0.3s;
}
nav {
  float: right;
}
.two-blocks {
  font-size: 0;
  margin-left: 10%;
}
.two-blocks >* {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
.two-blocks li {
  margin-left: 2%;
  margin-right: 2%;
  width: 46%;
  font-size: 16px;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .two-blocks li {
    width: 46%;
  }
}
@media only screen and (max-width: 480px) {
  .two-blocks li {
    width: 96%;
  }
}
.arrows li {
  padding: 5px 0;
}
.arrows li::before {
  display: inline-block;
  vertical-align: middle;
  font-family: flexkit-icons;
  content: '\e09b';
  background: #c39b5b;
  padding: 7px 10px;
  color: #FFFFFF;
  font-size: 0.8em;
  margin-right: 8px;
  border-radius: 50%;
}
.arrows li p {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  margin-bottom: 0;
}
.banner {
  background: url("../images/wood.jpg") no-repeat;
  padding: 4em 0;
  margin-bottom: 40px;
  margin-top: 220px;
}
.banner h1 {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 0;
}
.team {
  font-size: 0;
}
.team >* {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
.team > div {
  margin-left: 2%;
  margin-right: 2%;
  width: 29.33333333%;
  text-align: center;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .team > div {
    width: 46%;
  }
}
@media only screen and (max-width: 480px) {
  .team > div {
    width: 96%;
  }
}
.team > div img {
  border-radius: 50%;
}
.team > div .name {
  font-size: 25px;
  font-weight: bold;
  margin-top: 25px;
}
.team > div .small {
  font-size: 18px;
  color: #c39b5b;
}
footer {
  background: transparent;
  color: #555555;
  font-size: 0.85em;
  margin-top: 40px;
}
footer .brown-line {
  background: #c39b5b;
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: 300;
  padding: 35px 0;
}
footer .brown-line::before {
  background: #c39b5b;
}
footer .brown-line .images > img {
  max-height: 60px;
  width: auto;
  margin-left: 10px;
  margin-top: 5px;
}
footer .brown-line .email-footer {
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 15px;
  display: block;
}
footer .brown-line .email-footer::before {
  margin-right: 5px;
}
footer .brown-line .icon-phone2::before,
footer .brown-line .email::before,
footer .brown-line .icon-fax::before,
footer .brown-line .icon-clock::before {
  margin-right: 7px;
}
footer .red-line {
  backface-visibility: #99080c;
  color: #FFFFFF;
  padding: 20px 0;
}
footer .red-line p {
  margin: 5px 0 0 0;
}
footer .red-line::before {
  background: #99080c;
}
footer .brown-line::before,
footer .red-line::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
footer .brown-line::after,
footer .red-line::after {
  content: "";
  display: table;
  clear: both;
}
footer .social {
  background-color: transparent !important;
}
#no-template-pager {
  font-size: 0;
}
#no-template-pager >* {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
#no-template-pager li {
  margin-left: 0.75%;
  margin-right: 0.75%;
  width: 48.5%;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  #no-template-pager li {
    width: 48.5%;
  }
}
@media only screen and (max-width: 480px) {
  #no-template-pager li {
    width: 98.5%;
  }
}
address::before {
  float: left;
  display: block;
  margin-bottom: 52px;
  margin-top: 5px;
  margin-right: 5px;
}
.service-testimonials .review-header {
  display: none;
}
.service-testimonials .starrating {
  display: none;
}
.service-testimonials .review-form {
  display: none;
}
.brown-bg {
  background: #C39B5B;
}
#sqft-data {
  width: 85%;
}
.surface-calc p {
  font-weight: bold;
}
.not-uppercase {
  text-transform: initial;
  font-family: 'Lato', sans-serif;
  font-size: 1.65em;
}
.room-surface {
  border-radius: 6px;
  background-color: #eeeeee;
  padding: 30px;
}
.room-surface input {
  width: 100% !important;
  font-weight: bold;
  text-align: center;
}
.surface-info {
  text-align: center;
  color: #888888;
  font-size: 0.85em;
}
.surface-calc,
.total-p {
  font-weight: bold;
  text-transform: uppercase;
}
.surface-calc .large,
.total-p .large {
  color: #99080c;
  display: block;
  font-size: 1.75em;
  line-height: 1;
}
.surface-calc p,
.total-p p {
  text-align: center;
  margin: 0;
}
.surface-calc p:nth-of-type(2),
.total-p p:nth-of-type(2) {
  font-size: 14px;
}
#go-top {
  color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
#go-top:hover,
#go-top:active,
#go-top.active {
  color: #FFF;
  border-color: #99080c;
  background-color: #99080c;
}
.webPage-go-top {
  color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
.webPage-go-top:hover,
.webPage-go-top:active,
.webPage-go-top.active {
  color: #FFF;
  border-color: #99080c;
  background-color: #99080c;
}
.imgGmaps {
  display: none;
}
.gm-style .undefined > div,
.gm-style .bubble-info > div {
  width: auto !important;
  height: auto !important;
}
form::after {
  content: "";
  display: table;
  clear: both;
}
form p::after {
  content: "";
  display: table;
  clear: both;
}
form .captcha label,
form .captcha input {
  float: left;
  width: 100%;
  font-weight: normal;
}
form .captcha .captcha_field {
  margin-bottom: 1em;
}
form .captcha .recaptcha_links a,
form .captcha .captcha_image a {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 2.3em;
  padding: 0.4em 1em;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  border-color: #5c0001;
  background-color: #99080c;
  border-radius: 7px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: none;
  border: none;
  transition: background 0.3s;
  float: left;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 2.3em;
  margin-right: 0.25em;
}
form .captcha .recaptcha_links a:hover,
form .captcha .captcha_image a:hover,
form .captcha .recaptcha_links a:active,
form .captcha .captcha_image a:active,
form .captcha .recaptcha_links a.active,
form .captcha .captcha_image a.active {
  color: #FFF;
  border-color: #290000;
  background-color: #690508;
}
form .captcha .recaptcha_links a:active,
form .captcha .captcha_image a:active,
form .captcha .recaptcha_links a.active,
form .captcha .captcha_image a.active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
}
form .captcha .recaptcha_links a::before,
form .captcha .captcha_image a::before {
  font-family: flexkit-icons;
  width: 100%;
  float: left;
  margin: 0;
  line-height: inherit !important;
}
form .captcha .captcha_image {
  width: 100% !important;
  height: auto !important;
  float: left;
  text-align: center;
  margin-bottom: 1em;
}
form .captcha .captcha_image br {
  display: none;
}
form .captcha .captcha_image span {
  float: left;
}
form .captcha .recaptcha_links {
  float: left;
  margin-bottom: 1em;
}
form .captcha .recaptcha_links a[href="javascript:Recaptcha.reload();"]::before {
  content: "\e093";
}
form .captcha .recaptcha_links a.recaptcha_only_if_image::before {
  content: "\e0e2";
}
form .captcha .recaptcha_links a.recaptcha_only_if_audio::before {
  content: "\e008";
}
form .captcha .recaptcha_links a.recaptcha_help::before {
  content: "\e0e3";
}
form .captcha #recaptcha_audio_play_again::before {
  content: "\e0e4";
}
form .captcha #recaptcha_audio_download::before {
  content: "\e0e1";
}
@media only screen and (max-width: 480px), only screen and (min-width: 800px) {
  aside form .captcha .recaptcha_links {
    width: 100%;
  }
  aside form .captcha .recaptcha_links a {
    margin: 0;
    width: 32%;
  }
  aside form .captcha .recaptcha_links a + a {
    margin-left: 2%;
  }
  aside form .captcha .captcha_image span {
    width: 49%;
  }
  aside form .captcha .captcha_image span + br + span {
    margin-left: 2%;
  }
  aside form .captcha .captcha_image a {
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  form .captcha .recaptcha_links {
    width: 100%;
  }
  form .captcha .recaptcha_links a {
    margin: 0;
    width: 32%;
  }
  form .captcha .recaptcha_links a + a {
    margin-left: 2%;
  }
  form .captcha .captcha_image span {
    width: 49%;
  }
  form .captcha .captcha_image span + br + span {
    margin-left: 2%;
  }
  form .captcha .captcha_image a {
    margin: 0;
    width: 100%;
  }
}
.tablet form .captcha .captcha_image span,
.mobile form .captcha .captcha_image span {
  width: 100%;
}
form [type="submit"] {
  float: right;
}
fieldset legend {
  font-size: 1.25em;
}
fieldset.unstyled {
  padding: 0;
  border: 0;
}
fieldset.unstyled legend {
  padding: 0;
  margin-bottom: .45em;
  font-weight: bold;
}
label,
.label {
  display: block;
  margin-bottom: 0.25em;
}
label[for],
.label[for] {
  cursor: pointer;
}
label[class*="grid_"],
.label[class*="grid_"] {
  margin-bottom: 0;
}
.label-inline label,
.label-inline .label {
  margin-bottom: 0;
  line-height: 2.3em;
}
label.required::after,
.label.required::after {
  color: #f25f5c;
  content: ' *';
}
.notvalid {
  color: #f25f5c;
}
select,
textarea,
input {
  font-family: 'Lato', sans-serif;
  border: 1px solid #bbbbbb;
  background-color: #fff;
  color: #2f2f2f;
  transition: border 0.3s;
}
select:focus,
textarea:focus,
input:focus {
  border-color: #99080c;
}
select.success,
textarea.success,
input.success,
select.warning,
textarea.warning,
input.warning,
select.error,
textarea.error,
input.error,
select.info,
textarea.info,
input.info {
  color: #2f2f2f;
}
select.success,
textarea.success,
input.success {
  border-color: #4fc752;
}
select.success:focus,
textarea.success:focus,
input.success:focus {
  box-shadow: 0 0 3px #4fc752 inset;
}
select.warning,
textarea.warning,
input.warning {
  border-color: #ffc159;
}
select.warning:focus,
textarea.warning:focus,
input.warning:focus {
  box-shadow: 0 0 3px #ffc159 inset;
}
select.error,
textarea.error,
input.error,
select.notvalid,
textarea.notvalid,
input.notvalid {
  border-color: #f25f5c;
}
select.error:focus,
textarea.error:focus,
input.error:focus,
select.notvalid:focus,
textarea.notvalid:focus,
input.notvalid:focus {
  box-shadow: 0 0 3px #f25f5c inset;
}
select.info,
textarea.info,
input.info {
  border-color: #28b0ed;
}
select.info:focus,
textarea.info:focus,
input.info:focus {
  box-shadow: 0 0 3px #28b0ed inset;
}
select[disabled],
textarea[disabled],
input[disabled],
[disabled] select,
[disabled] textarea,
[disabled] input,
select[disabled]:focus,
textarea[disabled]:focus,
input[disabled]:focus,
select.noedit,
textarea.noedit,
input.noedit,
select.noedit:focus,
textarea.noedit:focus,
input.noedit:focus {
  border-color: #dddddd;
  background: #eeeeee;
  color: #a2a2a2;
  cursor: not-allowed;
  box-shadow: none;
}
input,
select {
  padding: 0 .5em;
  height: 2.3em;
  line-height: 1.3em;
}
textarea {
  padding: .5em;
  min-height: 5em;
}
textarea.resize {
  resize: vertical;
}
.forgot-password,
.retrieveFormBlock > form + a {
  float: left;
  margin-top: -32px;
}
.g-recaptcha {
  float: left;
}
.filed-upgrade {
  height: auto;
  position: absolute;
  z-index: -10;
  transition: none;
  opacity: 0;
}
.filed-upgrade ~ .checkbox_radio {
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font-size: 16px;
  height: calc(1em + 1px * 2);
  width: calc(1em + 1px * 2);
  line-height: 0;
  margin: 0;
  background: #fff;
  border: 1px solid #bbbbbb;
  color: transparent;
}
.filed-upgrade ~ .checkbox_radio::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0.625em;
  height: 0.625em;
}
.filed-upgrade.error ~ .checkbox_radio {
  border-color: #f25f5c;
}
.filed-upgrade:hover ~ .checkbox_radio::before {
  background: rgba(0, 0, 0, 0.1);
}
.filed-upgrade:checked ~ .checkbox_radio {
  border-color: #4fc752;
}
.filed-upgrade:checked ~ .checkbox_radio::before {
  background: #4fc752;
}
.filed-upgrade:disabled ~ .checkbox_radio {
  background: #eeeeee !important;
  border-color: #d5d5d5 !important;
  color: transparent;
}
.filed-upgrade:disabled:checked ~ .checkbox_radio::before {
  background: #a2a2a2 !important;
}
.filed-upgrade[type="radio"] ~ .checkbox_radio,
.filed-upgrade[type="radio"] ~ .checkbox_radio::before {
  border-radius: 10em;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio {
  overflow: hidden;
  position: relative;
  width: 4em;
  height: calc(1.25em + 1px * 2);
  line-height: 1.25em;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio::before {
  font-size: 0.75rem;
  line-height: inherit;
  content: 'OFF';
  background: none;
  color: #f25f5c;
  position: static;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  width: 50%;
  text-align: center;
  float: left;
  margin-left: 50%;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio::after {
  content: '';
  background: #f25f5c;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  border: 1px solid #fff;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}
.filed-upgrade[type="checkbox"].switcher:checked ~ .checkbox_radio::before {
  content: 'ON';
  margin-left: 0;
  color: #4fc752;
}
.filed-upgrade[type="checkbox"].switcher:checked ~ .checkbox_radio::after {
  left: 50%;
  background: #4fc752;
}
.filed-upgrade[type="checkbox"].switcher:disabled ~ .checkbox_radio::before {
  color: #a2a2a2 !important;
  background: none !important;
}
.filed-upgrade[type="checkbox"].switcher:disabled ~ .checkbox_radio::after {
  background: #a2a2a2 !important;
}
.input-label {
  position: relative;
}
.input-label label {
  color: #e6e6e6;
  position: absolute;
  top: 0;
  left: .5em;
  z-index: 1;
  line-height: 2.3em;
  transition: all 0.2s;
}
.input-label input {
  border-width: 0 0 1px;
  box-shadow: none !important;
}
.input-label input:focus + label,
.input-label input:valid + label {
  color: #99080c;
  top: -0.9em;
  font-size: 0.85em;
  line-height: 1em;
}
.input-label input.success:focus + label,
.input-label input.success:valid + label {
  color: #4fc752;
}
.input-label input.warning:focus + label,
.input-label input.warning:valid + label {
  color: #ffc159;
}
.input-label input.error:focus + label,
.input-label input.error:valid + label {
  color: #f25f5c;
}
.input-label input.info:focus + label,
.input-label input.info:valid + label {
  color: #28b0ed;
}
.img_gallery {
  margin: 10px 0;
  font-size: 0;
}
.img_gallery li {
  font-size: 1rem;
  position: relative;
  margin: 5px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.img_gallery a img {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  padding: 3px;
  background: transparent;
  transition: all 0.3s;
  border: 1px solid #bbbbbb;
}
.img_gallery a img:hover {
  border-color: #99080c;
}
.img_gallery .image_caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  line-height: 1.5;
  padding: 4px;
  color: #FFF;
  text-align: center;
  font-size: 0.85em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(153, 8, 12, 0.8);
}
.rotator {
  position: relative;
  overflow: hidden;
  background: #fff;
}
.rotator .slide-description {
  padding: 10px 16px;
  color: #FFF;
  background: rgba(0, 0, 0, 0.005);
}
.rotator img {
  width: 100%;
}
.rotator img ~ .slide-description {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.cycle-slideshow .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  background-size: cover;
}
.cycle-slideshow .slide > a.generator-links,
.cycle-slideshow .slide > a.tpopup {
  position: absolute;
  bottom: 30px;
  left: 10px;
}
.cycle-slideshow .cycle-pager {
  position: absolute;
  bottom: 30px;
  right: 0;
  z-index: 20;
  text-align: center;
  font-size: 0;
  line-height: 0;
  width: 100%;
}
.cycle-slideshow .cycle-pager > * {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 3px;
  color: #FFF;
  background: #FFF;
  border-radius: 14px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 0;
}
.cycle-slideshow .cycle-pager > *::before {
  font-size: 10px;
}
.cycle-slideshow .cycle-pager > *:hover {
  background: #690508;
}
.cycle-slideshow .cycle-pager > *.cycle-pager-active {
  cursor: default;
  color: #FFF;
  background: #fff;
}
.cycle-slideshow [class*="cycle-"].action-button {
  background: #99080c;
  color: #FFF;
  position: absolute;
  top: 50%;
  z-index: 20;
  cursor: pointer;
  margin-top: -19px;
  padding: 10px;
  box-sizing: content-box;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 0;
  transition: all 0.3s;
}
.cycle-slideshow [class*="cycle-"].action-button::before {
  font-size: 18px;
}
.cycle-slideshow [class*="cycle-"].action-button:hover {
  background: #690508;
  color: #FFF;
}
.cycle-slideshow [class*="cycle-"].action-button::before {
  font-family: flexkit-icons;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-prev {
  left: -54px;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-prev::before {
  content: "\e0a9";
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-next {
  right: -54px;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-next::before {
  content: "\e0a7";
}
.cycle-slideshow:hover .action-button.cycle-prev {
  left: 10px;
}
.cycle-slideshow:hover .action-button.cycle-next {
  right: 10px;
}
.slider {
  position: relative;
  z-index: 9;
  height: 700px;
  margin-bottom: 40px;
  overflow: hidden;
}
.slider .slide > img {
  display: none;
}
.slider .slide p.title {
  font-size: 4em;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 22%;
  text-transform: uppercase;
  font-weight: bold;
}
.slider .slide p.small-title {
  font-size: 2em;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.slider .slide p.descr {
  color: #fff;
}
.slider > .generator-links {
  position: absolute;
  bottom: 0;
  z-index: 100;
  color: #fff;
}
.slider .btn-slider {
  background: #c39b5b;
  margin-top: 25px;
}
.slider .btn-slider:hover {
  background: #b18b4f;
}
@media only screen and (min-width: 801px) {
  .d-hide,
  .t-visible,
  .m-visible {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .t-hide,
  .d-visible,
  .m-visible {
    display: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .m-hide,
  .d-visible,
  .t-visible {
    display: none !important;
  }
}
@media only screen and (max-width: 1564px) {
  .main_menu a {
    padding: 8px 0px 8px 20px;
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 1024px) {
  .main_menu a {
    padding: 8px 0px 8px 10px;
    font-size: 0.8em;
  }
  .parallax .featureditem li .btn {
    width: 100%;
  }
  .banner {
    margin-top: 190px;
  }
}
@media only screen and (max-width: 800px) {
  body {
    padding-top: 60px;
  }
  .header-fixed {
    top: 50px;
  }
  .header-fixed header .logo {
    margin: 30px 0 8px;
  }
  .header-fixed header .phone {
    font-size: 1.6em;
    margin-top: 70px;
  }
  .slider .slide p.title {
    font-size: 3em;
    margin-top: 30%;
  }
  .images {
    text-align: center;
    margin-top: 15px;
    border-top: 1px solid #E4BC7B;
    padding-top: 30px;
  }
  .header-fixed.scroll-header header .logo {
    margin: 32px 0 15px;
  }
  .header-fixed.scroll-header header .phone {
    margin-top: 48px;
  }
}
@media only screen and (max-width: 480px) {
  .header-fixed.scroll-header header .logo {
    margin: 30px 0 8px;
  }
  .header-fixed.scroll-header header .logo img {
    width: 100%;
  }
  .header-fixed.scroll-header header .phone {
    margin-top: 53px;
  }
  .slider .slide p.small-title {
    font-size: 1.5em;
  }
  .header-fixed header .phone {
    font-size: 1em;
    margin-top: 53px;
  }
  .slider .slide p.title {
    font-size: 2.5em;
    margin-top: 35%;
  }
  h2,
  .h2,
  h2:first-child {
    font-size: 25px;
    margin: 15px 0;
  }
  .parallax .featureditem li {
    margin-bottom: 60px;
  }
  .product .spacer ~ .grid_4:not(.room-surface) {
    padding: 1em 0;
  }
  .captcha,
  .captcha img {
    width: 100%;
  }
  body {
    padding-top: 45px;
  }
  body .header-fixed {
    top: 30px;
  }
  body .banner {
    margin-top: 100px;
  }
  .mobile-bar.top {
    line-height: 33px;
  }
  img[style*="float: left"],
  img[style*="float:left"],
  img[style*="float: right"],
  img[style*="float:right"] {
    float: none !important;
    display: block;
    margin: 0 auto 1em;
  }
  form [type="submit"],
  form [type="button"] {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .large {
    font-size: 1em;
  }
  .b404 {
    font-size: 10em !important;
  }
}
html.mobile,
html.tablet {
  overflow: hidden;
}
html.mobile::before,
html.tablet::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  background-color: #99080c;
}
html.mobile .mobile-loader,
html.tablet .mobile-loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 102;
}
html.mobile .mobile-loader::after,
html.tablet .mobile-loader::after,
html.mobile .mobile-loader::before,
html.tablet .mobile-loader::before {
  margin: auto;
  content: "";
  display: block;
  border: 5px solid transparent;
  border-top-color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
}
html.mobile .mobile-loader::after,
html.tablet .mobile-loader::after {
  animation: rotate 1.45s linear infinite;
  width: 4em;
  height: 4em;
}
html.mobile .mobile-loader::before,
html.tablet .mobile-loader::before {
  animation: rotate 1.85s linear infinite;
  width: 4.75em;
  height: 4.75em;
}
html.mobile.loaded,
html.tablet.loaded {
  overflow: initial;
}
html.mobile.loaded::before,
html.tablet.loaded::before {
  content: none;
}
html.mobile.loaded .mobile-loader,
html.tablet.loaded .mobile-loader {
  display: none;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only print {
  * {
    background: none !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    /* Images, vectors and such */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter     id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    /* Chrome + Safari 6 */
    -moz-filter: grayscale(100%);
    /* Future proof */
    -ms-filter: grayscale(100%);
    /* Future proof */
    -o-filter: grayscale(100%);
    /* Future proof */
    filter: grayscale(100%);
    /* Future proof or polyfilled */
  }
  .print-hide,
  header,
  footer,
  nav,
  aside {
    display: none !important;
  }
  .print-visible {
    display: block !important;
  }
  .print-visible-inline {
    display: inline !important;
  }
  .print-page-break-inside,
  img,
  table {
    page-break-inside: avoid;
  }
  .print-page-break,
  article + article {
    page-break-before: always;
  }
  a::after {
    color: #888888;
    margin: 0 0 0 .5em;
    font-size: 16px;
    font-style: italic;
    text-decoration: underline;
  }
  a.btn::after,
  a.page-title::after {
    margin: 0;
    display: block;
  }
  a.page-teaser-image::after,
  .page-teaser-image a::after,
  .gmaps a::after,
  a._lbox::after {
    display: none;
  }
  a[href*=".html"]::after,
  a[href^="http"]::after,
  a[href^="//"]::after {
    content: "(" attr(href) ")";
  }
}
