// Product Style
.product {

	.edit-product-btn {
		position         : absolute;
		left             : 0;
		top              : 0;
		background-color : @primary-bg;
		color            : @primary-color;
		padding          : 5px;
	}
	.product-image {
		display : block;

		img {
			width : 100%;
		}
	}
	.product-name {
	}

	.product-price {
		margin-bottom : 10px;
		.small {
			font-size   : 0.5em;
			font-weight : normal;
			margin-left : 6px;
		}
	}

	.product-info {
		.title {
			font-weight : bold;
		}
	}

	.product-description-short {
		//border-bottom : 1px solid @gray-light;
		//border-top    : 1px solid @gray-light;
		padding       : 1em 0;
		color         : #a2a2a2;
	}

	.product-description-full {
	}

	.product-options-listing {
		margin-bottom : 1em;
		overflow      : hidden;

		.product-option {
			overflow      : hidden;
			margin-bottom : 1em;

			& > label {
				font-weight : bold;
				width       : auto;
				display     : inline;
			}

			& > div label {
				cursor       : pointer;
				float        : left;
				font-size    : 12px;
				margin-right : 1%;
				width        : 27%;
			}

			select {
				padding : 2px;
				width   : auto;
			}
		}
	}

	.tcart-add {
		.button();
		.user-select();
		.box-shadow(none; @input-shadow-focus);
		display : block;

	}
	.spacer {
		padding : 1.75em 0;
	}
}

#productquantity {
	padding : 1.5em .5em;
}