.show-more{
    border-bottom  : 1px solid #DDDDDD;
    border-top     : 1px solid #DDDDDD;
    display        : block;
    font-size      : 20px;
    padding        : 10px 0;
    text-align     : center;
    text-transform : uppercase;
}

// Products List
//==================================================
.product-list {
    .inline-block-wrap();
  vertical-align:top;
}
.product-item {
   .grid-elements(4;3%;false);
   vertical-align: top;
  text-align: center;
  margin-bottom:25px;
  float:left;


    // General styles
    .product-image{
        margin-right : 2%;
        width        : 100%;
        overflow     : hidden;

        img{
          width: 100%;
        }

    }

    .product-title{
        display: block;

      font-size: 1.1em;
        font-family : @font-family-headings;
      text-decoration: none;
      text-transform: uppercase;
    }

    .product-description{ }

    .product-price{
      font-weight: bold;
      font-size: 1.25em;
      display: block;
      margin-bottom: 10px;
    }

    .tcart-add{      font-size: 0.8em;
        .button();
        .user-select();
        .box-shadow(none; @input-shadow-focus);
    }
}

// Products List in SideBar
//==================================================
.sidebar{

    .product-item{

        .product-image{
            img{ }
        }

        .product-title{ }

        .product-description{ }

        .product-price{ }

        .tcart-add{ }
    }
}

// Related Products
//==================================================
.related-products{
  .inline-block-wrap();
    li{
      .grid-elements(5; @grid-margin-width; true);
        text-align: center;
        .product-title{ }

        .product-image{
            img{ }
        }

        .product-description{
        display:none;
        }

        .product-price{ }

        .tcart-add{ }

    }
}
