.toaster-quote{
    .inline-block-wrap(top);
    // usual widget {$ quote : form}
    fieldset, & > p{
        padding : 0;
        .grid-elements(2; 2*@grid-margin-width; true; 1; 1);
        border  : none;
    }

    .mobile-desktop-phone-block{
        select{
            float : left;
        }
        input{
            width : 58.333%;
        }

        &:first-of-type{
            clear : left;
        }
    }
    dl, dt, dd{
        clear : both;
    }
    // quote form on the product page
    .product &{
        //fieldset, & > p{width : 100%;}
        //fieldset{margin : 0;}
        //& > p{margin : 0 0 15px 0;}
    }
    // quote form on the checkout page
    #checkout-widget &{
    }
    // quote form on the quote page
    .quote-info &{
    }
}
#send-quote{
    clear : both;
}
// quote-info
//==================================================
.quote-info{
    margin-bottom : 2em;

    fieldset, & > p{
        width : 100%;
    }
    fieldset{
        margin  : 0;
        padding : 0;
        border  : none;
    }
    & > p{
        margin : 0 0 15px 0;
    }
    @media only screen and (min-width : (@responsive-size-tablet + 1)){
        & when (@responsive){
            float : left;
            width : 48%;
        }
        &:first-child when (@responsive){
            margin-right : 4%;
        }
    }
    & > p{
        margin : 0;
    }
    p.title{
        font-size      : 1.5em;
        color          : @heading-color;
        border-bottom  : 1px solid @gray-light;
        padding-bottom : 0.25em;
        margin-bottom  : 0.5em;
    }
    label{
        margin : 0.25em 0 0;
        float  : left;
        width  : 35%;

        &[for='same-for-shipping'].optional{
            width        : auto;
            margin-right : 5px;
        }
    }
    input,
    select,
    textarea{
        float : left;
        width : 65%;
    }
    .mobile-desktop-phone-block{
        width  : 100%;
        margin : 0 0 15px 0;
        select{
            width : 27% !important;
        }
        input{
            width : 38% !important;
        }
    }

}
// Quote
//==================================================
#quote-search{
    padding : 7px;
    width   : 700px;
    display : block;
    margin  : 0 auto;
}
.ui-menu{
    z-index : 55 !important;
}
#storeinfo{
    text-align : right;

    h1{
        font-size   : 2em;
        font-weight : bold;
        margin      : 0;
    }

    p{
        margin : 0;
    }
}
//===============quote-details=================
#quote-details{
    text-align : center;
    clear      : both;

    h2{
        margin-bottom : 5px;
    }

    input{
        width   : auto;
        height  : auto;
        padding : 5px;
    }

    span{
        color : #000;
    }
}
// Quote admin-panel
//==================================================
#quoteControlls{
    height : 70px;

    .quote-controlls{
        .rgba(rgb(170, 170, 170), 0.8);
        border-top : 5px solid #888;
        bottom     : 0;
        left       : 0;
        padding    : 10px 0;
        position   : fixed;
        width      : 100%;
        z-index    : 10;
        text-align : center;
    }

    .quote-search{
        width     : 500px;
        padding   : 5px;
        font-size : 18px;
        color     : #666;
        border    : 1px solid #ddd;
    }
}
#sameForShippingGroup-element {
    width: 100%;
}
#plugin-quote-quoteform,#shipping-user-address {
     #overwrite-quote-user-shipping-label label,  #overwrite-quote-user-billing-label label {
         width: auto;
         margin-right: 10px;
     }
    .checkbox_radio {
        margin-top: 8px;
    }

}