<span class="page-title">{$page:h1}</span>
<span class="small-descr">{$header:{$page:id}}</span>
<span class="descr">{$page:teaser}</span>
{adminonly}
<a class="btn" href="{$page:url}">Read more</a>
{/adminonly}