<footer class="" itemscope itemtype="http://schema.org/LocalBusiness" role="contentinfo">
    <div class="container">
        <div class="grid_12 alpha omega brown-line">
            <div class="grid_2 t-grid_2">
                <address class="icon-location3" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                   <p> <span itemprop="streetAddress">{$plugin:widcard:BizAddress1:notag}</span>
                    <span itemprop="addressLocality">{$plugin:widcard:BizCity:notag}</span>,
                    <span itemprop="postalCode">{$plugin:widcard:BizZip:notag}</span>
                    <span itemprop="addressRegion">{$plugin:widcard:BizState:notag}</span>
                       <meta itemprop="addressCountry" content="EN"/></p>
                </address>
                <meta itemprop="name" content="Floor Crafters" />
                <link itemprop="image" href="{$plugin:widcard:bizLogo:url}" />
                <meta itemprop="priceRange" content="$$" />
            </div>
            <div class="grid_2 t-grid_2">
               <p itemprop="telephone" class="icon-phone2" content="{$plugin:widcard:BizTelephone:notag}">{$plugin:widcard:BizTelephone:notag}</p>
                <p  class="icon-fax" >(303) 449-5215</p>
            </div>
            <div class="grid_2 t-grid_2">
                <a href="/contact-us.html" class="icon-mail email-footer">CONTACT US</a>
                <p class="icon-clock">{$header:time:static}</p>
            </div>
            <div class="grid_6 text-right images">{$content:footer-img:static}</div>
        </div>
        <div class="grid_12 alpha omega red-line">
            <div class="grid_4 alpha t-grid_1">
                {$template:_social links}
            </div>
            <div class="grid_4 t-grid_3">{$content:footer:static}</div>
            <div class="grid_4 omega text-right t-grid_2">
                {$imageonly:footers:175:static}
            </div>
        </div>
    </div>
    {$plugin:smtpverification:verify}
</footer>
<script>
    $(window).load(function(){
        //$( ".email-f" ).append( ' <a href="/contact-us.html" class="icon-mail email-footer">CONTACT US</a>');
        $(".price:empty").next(".small").remove();
    });
</script>