<div class="header-fixed">
    <header class="container" role="banner">
        <div class="logo grid_3 alpha t-grid_3 m-grid_2" itemscope itemtype="http://schema.org/Organization">
            <a href="{$website:url}" title="{$plugin:widcard:BizOrgName:notag}" itemprop="url">
                <img src="{$plugin:widcard:bizLogo:url}" alt="Hardwood flooring installation and refinishing company in Boulder, Fort Collins and Denver, CO" itemprop="logo">
            </a>
        </div>
        <div class="grid_9 omega t-grid_3 m-grid_2">
            <p class="phone icon-phone2">{$header:phone:static}</p>
            <nav id="main-menu" class="d-visible" role="navigation">{$menu:main:_main menu}</nav>
        </div>
    </header>
</div>