<!-- Top bar for mobile, with button show/hide menu -->
<div class="mobile-bar top clearfix">
    <span class="dropdown-btn btn icon-menu" data-refer="drop"></span>
</div>

<!--<aside class="m-menu left" data-el="main">-->
    <!--<div class="menu-top-header"></div>-->
    <!--{$ menu:main:_main menu}-->
<!--</aside>-->
<aside class="m-menu dropdown right top" data-el="drop">
    {$menu:main:_main menu}
</aside>

<!--&lt;!&ndash; Bottom bar for mobile, with button show/hide menu &ndash;&gt;-->
<!--<div class="mobile-bar bottom clearfix">-->
    <!--<div class="_column_5 margin-none one-line large">-->
        <!--&lt;!&ndash; Include social share link &ndash;&gt;-->
        <!--{$ template:_social share}-->
    <!--</div>-->
<!--</div>-->

<!-- mobile loader -->
<span class="mobile-loader"></span>