<div class="product-item">
	<a href="{$product:url}" class="product-image">
		<img src="{$product:photourl:small}" alt="{$product:name}" />
	</a>
	<a class="product-title" href="{$product:url}">{$product:name}</a>
</div>