<!-- SCRIPTS ZONE -->
<!--<script src="js/scripts.min.js"></script>-->
<script src="js/system/flexkit.min.js"></script>
<script>
$(function(){
$(window).scroll(function(){
if($(window).scrollTop() >= $('header').outerHeight()) {
$('.header-fixed').addClass('scroll-header');
}
if($(window).scrollTop() < $('header').outerHeight()) {
$('.header-fixed').removeClass('scroll-header');
}
});
});
</script>