<a class="btn social icon facebook icon-facebook" target="_blank" href="{$plugin:widcard:BizFbAccount:notag}">Facebook</a>
<a class="btn social icon twitter icon-twitter" target="_blank" href="{$plugin:widcard:BizTwitterAccount:notag}">Twitter</a>
<a class="btn social icon linkedin icon-linkedin" target="_blank" href="{$plugin:widcard:BizLinkedInAccount:notag}">LinkedIn</a>
<!--<a class="btn social icon instagram icon-instagram mt5px" target="_blank" href="#">instagram</a>-->