<!DOCTYPE html>
<html>
    <head>
        <meta name="google-site-verification" content="gEQLO-VAVERfdEJLhpocVRdA7tU3mH90I90W3bIRjT8" />
        <!-- Include head template -->
        {$template:_head}
        <script type="text/javascript">
(function(a,e,c,f,g,h,b,d){var k={ak:"855290746",cl:"OQSHCM2InYMBEPrm6pcD",autoreplace:"(720) 669-7230"};a[c]=a[c]||function(){(a[c].q=a[c].q||[]).push(arguments)};a[g]||(a[g]=k.ak);b=e.createElement(h);b.async=1;b.src="//www.gstatic.com/wcm/loader.js";d=e.getElementsByTagName(h)[0];d.parentNode.insertBefore(b,d);a[f]=function(b,d,e){a[c](2,b,k,d,null,new Date,e)};a[f]()})(window,document,"_googWcmImpl","_googWcmGet","_googWcmAk","script");
</script>
    </head>
    <body>
        <!-- Container -->
        <!-- Header -->
        <div class="header-fixed">
            <header class="container" role="banner">
                <h1 class="logo grid_3 alpha t-grid_3 m-grid_2" itemscope itemtype="http://schema.org/Organization">
                    <a href="{$website:url}" title="{$plugin:widcard:BizOrgName:notag}" itemprop="url">
                        <img src="{$plugin:widcard:bizLogo:url}" alt="Hardwood flooring installation and refinishing company in Boulder, Fort Collins and Denver, CO" itemprop="logo">
                    </a>
                </h1>
                <div class="grid_9 omega t-grid_3 m-grid_2">
                    <p class="phone icon-phone2">{$header:phone:static}</p>
                    <nav id="main-menu" class="d-visible" role="navigation">{$menu:main:_main menu}</nav>
                </div>
            </header>
        </div>
        <!--Slider -->
        <div class="slider cycle-slideshow"
               data-cycle-slides=".slide"
               data-cycle-fx="scrollHorz"
               data-cycle-max-z="10"
               data-cycle-pager=".cycle-pager"
               data-cycle-timeout="7000"
               data-cycle-pager-template="<span class='page_{{slideNum}} '>  </span>">
               {repeat:home-slider:key:3}
                  <div class="slide">
                     {$imageonly:slide_key:1920}
                     <div class="container">
                            <p class="title">{$header:slider_key}</p>
                            <p class="small-title">{$header:slider2_key}</p>
                            <p class="descr">{$header:slider1_key}</p>
                           {$fastbutton:button_key:btn btn-slider}
                     </div>
                  </div>
               {/repeat}
               <div id="pager" class="cycle-pager"></div>
        </div>

        <div class="container">
            <div class="grid_8 prefix_2 suffix_2 text-center">
                <h2>{$header:1}</h2>
                {$content:1}
            </div>
            <section class="grid_8 prefix_2 suffix_2" >
                {repeat:Section box:key:1}
                <blockquote>
                    {$content:content_key1}
                    <span>{$header:content_key2}</span>
                </blockquote>
                {/repeat}
            </section>
        </div>
        <div class="parallax take-from-widget">
            {$imageonly:parallax:1920}
            <div class="container">{$content:parallax}</div>
        </div>
        <div class="container">
            <div class="grid_10 prefix_1 suffix_1">
                <h2 class="text-center">{$header:2}</h2>
                {$content:2}
                <div class="text-center grid_12 mt30px mb30px">{$fastbutton:button:btn}</div>
            </div>
        </div>
        {$template:_footer}
        <!-- Include mobile elements template -->
        {$template:_mobile elements}
        <!-- Include scripts template -->
        {$template:_scripts}
        <script type="text/javascript" src="js/plugin/jquery.cycle2.min.js"></script>
        <script>
           $(window).load(function(){
           $('.slider .slide').each(function(){
             var src = $(this).find('img[width="1920"]').attr('src');
             $(this).css('background-image', 'url(' + src + ')');
              });
           });
        </script>
        <!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 855290746;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/855290746/?guid=ON&amp;script=0"/>
</div>
</noscript>

    </body>
</html>