<div class="product-item">
    <a href="{$product:url}" class="product-image">
        <img src="{$product:photourl:small}" alt="{$product:name}" />
    </a>
    <a class="product-title mt10px" href="{$product:url}">{$product:name}</a>
    <span class="product-price"><span class="price">{$product:price}</span><span class="small">/sqft</span></span>
    {$store:addtocart:{$product:id}}
</div>
