@responsive-size-tablet-over : (@responsive-size-tablet + 1);
@media only screen and (min-width : @responsive-size-tablet-over) {
    .d-hide, .t-visible, .m-visible {
        display : none !important;
    }
}

@responsive-size-mobile-over : (@responsive-size-mobile + 1);
@media only screen and (min-width : @responsive-size-mobile-over) and (max-width : @responsive-size-tablet) {
    .t-hide, .d-visible, .m-visible {
        display : none !important;
    }
}

@media only screen and (max-width : @responsive-size-mobile) {
    .m-hide, .d-visible, .t-visible {
        display : none !important;
    }
}

//================================================\\
//************** Divece orientation **************\\
//================================================\\
@media only screen and (orientation : portrait) {
}

@media only screen and (orientation : landscape) {
}

//================================================\\
//*************** Divece screen size *************\\
//================================================\\

//***** Bigger than Desktop site size *****\\
@responsive-size-desktop-above : (@responsive-size-desktop + 1);
@media only screen and (min-width : @responsive-size-desktop-above) {
}

@media only screen and (max-width : 1564px) {
    .main_menu a {
        padding   : 8px 0px 8px 20px;
        font-size : 0.9em;
    }
}

//***** Tablet Portrait *****\\
@media only screen and (max-width : @responsive-size-desktop) {
    .main_menu a {
        padding   : 8px 0px 8px 10px;
        font-size : 0.8em;

    }

    .parallax .featureditem li .btn {
        width : 100%;
    }

    .banner {
        margin-top : 190px;
    }
}

//***** All Mobile Sizes *****\\
@media only screen and (max-width : @responsive-size-tablet) {
    body {
        padding-top : 60px;
    }

    .header-fixed {
        top : 50px;
        header {
            .logo {
                margin : 30px 0 8px;
            }
            .phone {
                font-size  : 1.6em;
                margin-top : 70px;
            }
        }
    }

    .slider .slide p.title {
        font-size  : 3em;
        margin-top : 30%;
    }

    .images {
        text-align  : center;
        margin-top  : 15px;
        border-top  : 1px solid #E4BC7B;
        padding-top : 30px;
    }

    .header-fixed.scroll-header header .logo {
        margin : 32px 0 15px;
    }

    .header-fixed.scroll-header header .phone {
        margin-top : 48px;
    }
}

//***** Just Mobile Landscape *****\\
@media only screen and (max-width : @responsive-size-tablet) and (orientation : landscape) {
}

//***** Just Mobile Portrait *****\\
@media only screen and (max-width : @responsive-size-mobile) {
    .header-fixed.scroll-header header {
        .logo {
            margin : 30px 0 8px;
            img {
                width : 100%;
            }
        }
        .phone {
            margin-top : 53px;
        }
    }

    .slider .slide p.small-title {
        font-size : 1.5em;
    }

    .header-fixed header .phone {
        font-size  : 1em;
        margin-top : 53px;
    }

    .slider .slide p.title {
        font-size  : 2.5em;
        margin-top : 35%;
    }

    h2, .h2, h2:first-child {
        font-size : 25px;
        margin    : 15px 0;
    }

    .parallax .featureditem li {
        margin-bottom : 60px;
    }

    .product {
        .spacer {
            & ~ .grid_4:not(.room-surface) {
                padding : 1em 0;
            }
        }
    }

    .captcha {
        &, img {
            width : 100%;
        }
    }

    body {
        padding-top : 45px;
        .header-fixed {
            top : 30px;
        }
        .banner {
            margin-top : 100px;
        }
    }

    .mobile-bar.top {
        line-height : 33px;
    }

    img[style*="float: left"], img[style*="float:left"], img[style*="float: right"], img[style*="float:right"] {
        float   : none !important;
        display : block;
        margin  : 0 auto 1em;
    }

    form [type="submit"], form [type="button"] {
        width        : 100%;
        margin-right : 0;
        margin-left  : 0;
    }

    .large {
        font-size : 1em;
    }

    .b404 {
        font-size : 10em !important;
    }
}

//***** Just Small Phone *****\\
@media only screen and (max-width : @responsive-size-phone) {
}

//================================================\\
//************** Divece pixel ratio **************\\
//================================================\\
@media screen and (-webkit-min-device-pixel-ratio : 1.3) {
}

@media screen and (-webkit-min-device-pixel-ratio : 1.5) {
}

@media screen and (-webkit-min-device-pixel-ratio : 2) {
}

@import "../mobile/loader";