// List Pages & List Categories
//==================================================
.listpages, .listcategories{
    & when (@widget-LP-LC){

        li{
            margin-bottom : 30px;
        }

        a{ }

        .page-teaser-image{
            float        : left;
            margin-right : 3%;
            width        : 150px;
            overflow     : hidden;

            img{ }
        }

        .page-title{ }

        span{ }

        // Hover
        li:hover{

            a{ }

            .page-teaser-image{
                img{ }
            }

            .page-title{ }

            span{ }
        }
    }
}

// List Pages
//==================================================
.listpages {
    .inline-block-wrap();
    li {
        .grid-elements(3, 2%, false);
        background: url("../images/white-wood-bg.jpg") no-repeat;
        color: #fff;
        padding: 5% 2%;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }
        &:nth-child(3n+1) {
            &::before {
                .rgba(#13467f, 50%);
            }
        }
        &:nth-child(3n-1){
            &::before {
                .rgba(#c39b5b, 50%);
            }
        }
        &:nth-child(3n){
            &::before {
                .rgba(#99080c, 50%);
            }
        }

    }

    a{ }
    .page-teaser-image{
        img{ }
    }

    .page-title{
        text-transform: uppercase;
        z-index: 20;
        position: relative;
        color: #fff;
    }


    span{
        z-index: 20;
        position: relative;
        color: #fff;
    }

    // Hover
    li:hover{

        a{ }

        .page-teaser-image{
            img{ }
        }

        .page-title{ }

        span{ }
    }
}

// List Categories
//==================================================
.listcategories when (@widget-LC) and (@widget-LP-LC){
    li{ }

    a{ }

    .page-teaser-image{
        img{ }
    }

    .page-title{ }

    span{ }

    // Hover
    li:hover{
        a{ }

        .page-teaser-image{
            img{ }
        }

        .page-title{ }

        span{ }
    }
}