@media only screen and (min-width : @responsive-size-tablet) {
	.main_menu when (@menu-main) {
		position : relative;
		z-index  : 11;
	    margin-top: 30px;
		& when not(@nav-bg = transparent) {
			background : @nav-bg;
		}


		& > li {
			float    : left;
			position : relative;

			&:hover {
				& when not(@nav-bg = @nav-bg-li-hover) {
					background : @nav-bg-li-hover;
				}
				& when not(@nav-color = @nav-color-li-hover) {
					color : @nav-color-li-hover;
				}

				ul {
					display : block;
				}
			}
			// TODO Why we had this property for the tag 'a'?
			//& > a when (@responsive), (@adaptive){
			//    float : left;
			//}
		  //&.cat-5 {
			//>a {
			//  pointer-events: none;
			//}
		  //}
		}

		a {
		  display: block;
		  padding: 8px 0px 8px 30px;
		  text-decoration: none;
		  color: #000;
		  text-transform: uppercase;
		  font-size: 1em;

			&.current {
				color: @brand-primary;
			  text-decoration: underline;
			}
		}

		ul {
			position   : absolute;
			left       : 0;
			top        : 100%;
			z-index    : 0;
			display    : none;
			width      : 300px;
			background : @nav-drop-down-list-bg;
			& when not(@nav-drop-down-list-color = @nav-color) {
				color : @nav-drop-down-list-color;
			}
			.box-shadow(0 3px 5px @gray-dark);

			& when (@mobile-menu) {
				&.open:extend(.mobile-menu ul.open) {
				}
			}

			li {
				float : none;

				&:hover {
					& when not(@nav-drop-down-list-bg-hover = @nav-bg-li-hover)
                   and not(@nav-drop-down-list-bg-hover = @nav-drop-down-list-bg) {
						background : @nav-drop-down-list-bg-hover;
					}
					& when not(@nav-drop-down-list-color-hover = @nav-drop-down-list-color)
                   and not(@nav-drop-down-list-color-hover = @nav-color-li-hover) {
						color : @nav-drop-down-list-color-hover;
					}
				}

				a {
					&.current {
						& when (@nav-drop-down-list-color-hover = @nav-drop-down-list-color-current) {
							&:extend(.main_menu ul li:hover);
						}

						& when not(@nav-drop-down-list-bg-current = @nav-drop-down-list-bg)
                       and not(@nav-drop-down-list-bg-current = @nav-drop-down-list-bg-hover) {
							background : @nav-drop-down-list-bg-current;
						}
						& when not(@nav-drop-down-list-color-current = @nav-drop-down-list-color)
                       and not(@nav-drop-down-list-color-current = @nav-drop-down-list-color-hover) {
							color : @nav-drop-down-list-color-current;
						}
					}
				}
			}
		}
	}
}