.news {
    .inline-block-wrap();
}
.news-item when (@widget-news-list){
        .grid-elements(5; 3%; false);
        .inline-block(top);
        .news-item-image{
            width: 100%;
            img{
                width: 100%;
            }
        }

        .news-item-title{
            text-decoration: none;

            display: block;
        }


        .newslog-admin-actions{
            text-align : right;
            a{ }
        }

        .news-item-date{
            color : lighten(@text-color, 15%);

            &::before{
                top       : 2px;
                font-size : 16px;
                color     : @primary-bg;
            }
        }

        .news-item-description{ }

        .news-item-tags{

            a{
                .link-color(@gray);

                & + a{
                    margin-left : 0.5em;
                }

                &::before{
                    color        : @gray;
                    margin-right : 0.5em;
                }
            }
        }

        .newslog-tag-filter{
            &::before{
                font-family: @font-family-icons;
                content : "\e023";
            }
        }
}
aside .news-item when (@widget-news-list)
{
    .grid-elements(1; 0; false);

}