//	PAGE Style
//==================================================
html {

}

body {
    // custom scroll-bar
    //.scroll-bar();
    background : #FFFFFF;
    overflow-x : hidden;

}

main {
}

#page {
    z-index : 9;
}

//	HEADER Style
//==================================================
.header-fixed {
    position : fixed;
    width    : 100%;
    z-index  : 10;
    top      : 0;
    .rgba(#FFFFFF, 80%);

    header {
        color      : @header-color;
        background : @header-bg;
        z-index    : 10;
        .logo {
            text-decoration : none;
            margin          : 30px 0;
            a {
                display : inline-block;
            }
        }
        .phone {
            text-align : right;
            font-size  : 1.2em;
            color      : #6E6D70;
            margin-top : 40px;
            a {
                text-decoration : none;
                color           : #6E6D70;
            }
        }

    }
    &.scroll-header {
        .rgba(#FFFFFF, 95%);
        border-bottom : 1px solid #C39B5C;
        header {
            .logo {
                margin : 20px 0;
                .transition();
                img {
                    width : 50%;
                }
            }
            .phone {
                margin-top : 15px;
            }
            .main_menu {
                margin-top : 0px;
                .transition();
            }
        }
    }
}

nav {
    float : right;
}

.two-blocks {
    .inline-block-wrap();
    margin-left : 10%;
    li {
        .grid-elements(2; 4%; false);
        font-size : 16px;
    }
}

.arrows {
    li {
        padding : 5px 0;
        &::before {
            display        : inline-block;
            vertical-align : middle;
            font-family    : flexkit-icons;
            content        : '\e09b';
            background     : @brand-primary2;
            padding        : 7px 10px;
            color          : #FFFFFF;
            font-size      : 0.8em;
            margin-right   : 8px;
            .border-radius(50%);
        }
        p {
            display        : inline-block;
            vertical-align : middle;
            width          : 80%;
            margin-bottom  : 0;
        }
    }
}

.banner {
    background    : url("../images/wood.jpg") no-repeat;
    padding       : 4em 0;
    margin-bottom : 40px;
    margin-top    : 220px;
    h1 {
        color          : #FFFFFF;
        text-transform : uppercase;
        font-size      : 2.5em;
        margin-top     : 0;
        margin-bottom  : 0;
    }
}

.team {
    .inline-block-wrap();
    > div {
        .grid-elements(3, 4%, false);
        text-align : center;
        img {
            .border-radius(50%);
        }
        .name {
            font-size   : 25px;
            font-weight : bold;
            margin-top  : 25px;
        }
        .small {
            font-size : 18px;
            color     : @brand-primary2;
        }
        .descr {

        }
    }
}

footer {
    background : @footer-bg;
    color      : @footer-color;
    font-size  : @font-size-small;
    margin-top : 40px;
    .brown-line {
        background  : @brand-primary2;
        color       : #FFFFFF;
        font-size   : 1.2em;
        font-weight : 300;
        padding     : 35px 0;
        &::before {
            background : @brand-primary2;
        }
        .images {
            > img {
                max-height  : 60px;
                width       : auto;
                margin-left : 10px;
                margin-top  : 5px;
            }
        }
        .email-footer {
            color           : #FFFFFF;
            text-decoration : none;
            margin-bottom   : 15px;
            display         : block;
            &::before {
                margin-right : 5px;
            }
        }
        .icon-phone2, .email, .icon-fax, .icon-clock {
            &::before {
                margin-right : 7px;
            }
        }
    }
    .red-line {
        backface-visibility : @brand-primary;
        color               : #FFFFFF;
        padding             : 20px 0;
        p {
            margin : 5px 0 0 0;
        }
        &::before {
            background : @brand-primary;
        }
    }
    .brown-line, .red-line {
        &::before {
            content      : '';
            position     : absolute;
            top          : 0;
            bottom       : 0;
            width        : 100vw;
            left         : 50%;
            right        : 50%;
            margin-left  : -50vw;
            margin-right : -50vw;
        }
        &::after {
            content : "";
            display : table;
            clear   : both;
        }
    }
    .social {
        background-color : transparent !important;
    }
}

#no-template-pager {
    .inline-block-wrap();
    li {
        .grid-elements(2, 1.5%, false);
    }
}

address {
    &::before {
        float         : left;
        display       : block;
        margin-bottom : 52px;
        margin-top    : 5px;
        margin-right  : 5px;
    }
}

.service-testimonials {
    //display: none;
    .review-header {
        display : none;
    }
    .starrating {
        display : none;
    }
    .review-form {
        display : none;
    }
}

.brown-bg {
    background : #C39B5B;
}

#sqft-data {
    width : 85%;
}

.surface-calc {
    p {
        font-weight : bold;
        span {

        }
    }
}

.total-p {
    //p {
    //    font-weight : bold;
    //    text-align  : center;
    //    span {
    //        font-size : 19px;
    //        color     : @brand-primary;
    //    }
    //}
}

.not-uppercase {
    text-transform : initial;
    font-family    : @font-family-text;
    font-size      : 1.65em;
}

.room-surface {
    .border-radius(6px);
    background-color : @gray-lighter;
    padding          : 30px;

    input {
        width       : 100% !important;
        font-weight : bold;
        text-align  : center;
    }
}

.surface-info {
    text-align : center;
    color      : @gray;
    font-size  : @font-size-small;
}

.surface-calc,
.total-p {
    font-weight    : bold;
    text-transform : uppercase;
    .large {

        color       : @brand-primary;
        display     : block;
        font-size   : 1.75em;
        line-height : 1;
    }
    p {
        text-align : center;
        margin     : 0;
        &:nth-of-type(2) {
            font-size : @font-size-base - 2px;
        }
    }
}

//	Button to scroll top
//==================================================
#go-top {
    .button-color(#FFFFFF; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}

.webPage-go-top {
    .button-color(#FFFFFF; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}

.imgGmaps {
    display : none;
}

.gm-style .undefined > div, .gm-style .bubble-info > div {
    width  : auto !important;
    height : auto !important;
}